*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("/img2.jpg") no-repeat center center/cover ;
padding: 15px;

}

.container{
    border: 2px solid white;
    max-width: 700px;
    height: 70%;
    
   
    padding: 25px;
    border-radius: 10px;
    backdrop-filter: blur(7px);
   
    /* box-shadow: 1px 1px 30px white */
    
}


.container .tittle{
    font-size: 25px;
    font-weight: 100;
    position: relative;
    color: white;

}



.container .tittle::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    left: 0;
    bottom: 0;
    background-color: white;
    /* background:linear-gradient(135deg,#71b7e6,#9b59b6);; */

}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    /* flex-direction: column; */
}
form .user-details .input-box {
    margin: 10px 0 10px 0;
    width: calc(100%/2-20px);
}

.user-details .input-box .details {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;

}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 5px grey; */
    border-bottom-width: 4px;
    border-right-width: 4px;
    transition: all 1s ease;
}


.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: black;
}


form .gender-details .gender-title{
    font-size: 20px;
    color: white;
}


form .gender-details .category{
    display: flex;
    width: 27%;
    margin: 14px 0;
    color: white;
    justify-content: space-between;
}
form .gender-details .category label{
display: flex;
}

form .gender-details .category .dot{
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid transparent;
}

#dot-1:checked~ .category label .one,
#dot-2:checked~ .category label .two
{
border-color: #d9d9d9;
background: black;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 39px;
    margin: 4 px 0;
}

form .button input{
  
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 2px;
    background:black
}

form .button input:hover{
    /* background:linear-gradient(-135deg,#71b7e6,#9b59b6); ; */
    background:white;
    color: black;
    animation: 2s ease;
}


@media(max-width:584px){
.container{
    max-width: 100%;
}

form .user-details .input-box {
    margin: 10px 0 10px 0;
    width: 100%
}


form .gender-details .category{
   width: 100%;
}

.container form .user-details{
    max-height: 300px;
overflow-y: scroll;
}
}